.cv-preview {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background: #fefefe;
  padding: 2rem;
  gap: 20px;
}

.cv-personal-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cv-personal-info img {
  display: inline-block;
  vertical-align: bottom;
}

.cv-fullname {
  font-size: 2rem;
}

.cv-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
}

.cv-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.cv-list {
  margin-top: 0.5rem;
  padding-left: 0;
  list-style-position: inside;
}

hr {
  margin-top: 0.5rem;
}

.thick-rule {
  border: none;
  height: 0.2rem;
  background: linear-gradient(to right, #000, #555, #000);
}